/*
Colors used
Text Color (white): white;
Primary Color (darkish blue): #2f2fa2
Secondary Color (reddish): #f64c72;
Tertiary Color (darker blue): 242582
 */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #2f2fa2;
  --secondary-color: #f64c72;
  --tertiary-color: #242582;
  --gradient-top-color: #5050bb;
  --font-color: white;
  --dark-grey: #2b2b2b;
  --white: white;
  --a-visited: #b6b6b8;
  --a-active: #ed0055;
  --height-100pct: 100%;
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --transition-button-fade: 0.2s opacity;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-default);
  font-size: 16px;
  margin: 0;
  line-height: 1.25;
}

.navbar {
  margin-bottom: 50px;
}

.main-section {
  padding: 0px 150px;
  min-height: 100vh;
}

.main-section h4 {
  margin: 0px 0px 0px 4px;
}

h1.big-heading {
  font-size: 75px;
  font-weight: 800;
  margin: 0;
}

.intro-content__para {
  width: 75%;
}

.main-section p {
  margin: 25px 0px 0px;
  max-width: 70%;
}

.code-link__link {
  margin-top: 50px;
  padding: 1.25rem;
  border-radius: 4px;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}

.about-section {
  padding: 25px 0px;
}



/* tiny screens */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .navigation-list__item--btn {
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .main-section {
    padding: 0px 25px;
  }

  h1.big-heading {
    font-size: 22px;
  }
}

/*medium screens*/
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .navigation-list__item--btn {
    padding: 0 !important;
    border-radius: 0 !important;
  }
  h1.big-heading {
    font-size: 36px;
  }

  .main-section {
    padding: 0px 50px;
  }
}

/*tablet screens*/
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
